<section class="section light-bg">
    <link rel="stylesheet" href="/css/style.css">
    <div class="container">
        <h2><b>推荐内容</b></h2>
        <p style="justify-self: center;">您可能感兴趣的其它内容</p>
        <div class="product-intros" style="margin-top: 36px;">
            <a href="/404-submit/" target="_blank" class="product-intro" style="padding: 0;">
                <img src="/assets/images/ads/404-submit.webp" style="width: 100%; height: auto;object-fit: cover;">
                <h3>404 页面投稿</h3>
                <p>欢迎来投稿 404 页面的背景图和文字！让 404 页面变得更有趣！</p>
            </a>
            <a href="/advertise/" target="_blank" class="product-intro" style="padding: 0;">
                <img src="/assets/images/404.gif" style="width: 100%; height: auto;object-fit: cover;">
                <h3>广告位招租</h3>
                <p>欢迎来投放广告！点击可查看详情</p>
            </a>
            <a href="/advertise/" target="_blank" class="product-intro" style="padding: 0;">
                <img src="/assets/images/404.gif" style="width: 100%; height: auto;object-fit: cover;">
                <h3>广告位招租</h3>
                <p>欢迎来投放广告！点击可查看详情</p>
            </a>
        </div>
    </div>
</section>