<li>
    <link rel="stylesheet" href="/css/style.css">
    <a class="btn soft">产品</a>
    <ul class="submenu">
        <li><a class="btn soft" href="/products/Disk-Squeezer" target="_blank">硬盘榨干器</a></li>
        <li><a class="btn soft" href="/products/Universal-Timer" target="_blank">万能倒计时</a></li>
        <li><a class="btn soft" href="/products/UBackup" target="_blank">U备份</a></li>
        <li><a class="btn soft" href="/products/MaliciousOS" target="_blank">MaliciousOS</a></li>
        <li><a class="btn soft" href="/products/QuickNorthKorea" target="_blank">一键恩情</a></li>
        <li><a class="btn soft" href="/products/QuickMAGA" target="_blank">一键MAGA</a></li>
        <li><a class="btn soft" href="/products/NewYearCountdown" target="_blank">解冻倒计时</a></li>
        <li><a class="btn soft" href="/products" target="_blank">更多产品</a></li>
    </ul>
</li>