<section>
    <link rel="stylesheet" href="/css/style.css">
    <div class="container">
        <h2><b>产品展示</b></h2>
        <div class="projects-grid">
            <a href="/products/Disk-Squeezer" target="_blank" class="project-card">
                <img src="/assets/images/icons/Disk-Squeezer/icon.png" alt="产品图片">
                <div class="project-card-content">
                    <h3>硬盘榨干器</h3>
                    <p>可以榨干电脑磁盘空间，小心使用，可以给自己的盆友逝逝(doge</p>
                </div>
            </a>
            <a href="/products/Universal-Timer" target="_blank" class="project-card">
                <img src="/assets/images/icons/Universal-Timer/icon.png" alt="产品图片">
                <div class="project-card-content">
                    <h3>万能倒计时</h3>
                    <p>实用的倒计时工具，可以清楚地直到距离目标时间剩余的时间</p>
                </div>
            </a>
            <a href="/products/UBackup" target="_blank" class="project-card">
                <img src="/assets/images/icons/UBackup/icon.png" alt="产品图片">
                <div class="project-card-content">
                    <h3>U备份</h3>
                    <p>实用的U盘备份工具，可以自动将新增驱动器备份到指定目录</p>
                </div>
            </a>
            <a href="/products/MaliciousOS" target="_blank" class="project-card">
                <img src="/assets/images/icons/MaliciousOS/icon.png" alt="产品图片">
                <div class="project-card-content">
                    <h3>MaliciousOS</h3>
                    <p>超级无敌流氓操作系统，开机满屏广告，体验流氓软件的滋味(doge</p>
                </div>
            </a>
            <a href="/products/QuickNorthKorea" target="_blank" class="project-card">
                <img src="/assets/images/icons/QuickNorthKorea/icon.png" alt="产品图片" style="border-radius: 32px;">
                <div class="project-card-content">
                    <h3>一键恩情</h3>
                    <p>一键感受将军的恩情！ \o/</p>
                </div>
            </a>
            <a href="/products/QuickMAGA" target="_blank" class="project-card">
                <img src="/assets/images/icons/QuickMAGA/icon.png" alt="产品图片" style="border-radius: 32px;">
                <div class="project-card-content">
                    <h3>一键MAGA</h3>
                    <p>一键感受 MAGA 们对 Donald J. Trump 的热情！</p>
                </div>
            </a>
            <a href="/products/NewYearCountdown" target="_blank" class="project-card">
                <img src="/assets/images/icons/NewYearCountdown/icon.png" alt="产品图片">
                <div class="project-card-content">
                    <h3>解冻倒计时</h3>
                    <p>~~~耶~咦~耶~咦~耶~咦~耶~哈~吼~~~</p>
                </div>
            </a>
        </div>
    </div>
</section>